payments-service/src/main/resources/checkout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://taller5.com/soap/checkout"
           xmlns="http://taller5.com/soap/checkout"
           elementFormDefault="qualified">

  <xs:element name="CheckoutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerId" type="xs:long"/>
        <xs:element name="productId" type="xs:long"/>
        <xs:element name="quantity" type="xs:int"/>
        <xs:element name="amount" type="xs:double"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paymentId" type="xs:long"/>
        <xs:element name="invoiceId" type="xs:long" minOccurs="0"/>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
