payments-service/src/main/resources/inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://taller5.com/soap/inventory"
           xmlns="http://taller5.com/soap/inventory"
           elementFormDefault="qualified">

  <xs:element name="ReserveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productId" type="xs:long"/>
        <xs:element name="quantity" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReleaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productId" type="xs:long"/>
        <xs:element name="quantity" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ListProductsRequest" type="xs:anyType"/>
  <xs:element name="ListProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="price" type="xs:double"/>
              <xs:element name="stock" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
