billing-service/src/main/resources/billing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://taller5.com/soap/billing"
           xmlns="http://taller5.com/soap/billing"
           elementFormDefault="qualified">

  <xs:element name="CreateInvoiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paymentId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="invoiceId" type="xs:long"/>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetInvoiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="invoiceId" type="xs:long"/>
        <xs:element name="paymentId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
